<div class="container">
    <h3>User List</h3>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Fullname</th>
                <th>Email</th>
                <th>Reviewer</th>
                <th>Admin</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.firstname}} {{user.lastname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.isReviewer}}</td>
                <td>{{user.isAdmin}}</td>
            </tr>
        </tbody>

    </table>
</div>